{% extends 'navbar.html' %}

{% block content %}
    <table>
        <tr>
            <th>Recipe Name</th>
            <th>Meal Time</th>
            <th>Ingredients</th>
            <th>Instructions</th>
            <th>Delete</th>
        </tr>
    {% for result in results %}
        <tr>
            <td>{{ result[1] }} </td>
            <td>{{ result[2] }} </td>
            <td>{{ result[3] }} </td>
            <td>{{ result[4] }} </td>
            <td><form action="/delete/{{result[0]}}" method="POST">
                <input type="submit" value="delete">
            </form></td>
        </tr>
    {% endfor %}   
    </table>

{% endblock %}